/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

/* Global */

body {
    height: 100%;
    margin-top: 10px;
    color: rgba(205, 0, 0, 0.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
    text-align: center;
}

.logo {
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 200px;
}